* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    color: #444444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

h1 {
    color: #A1BE95;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    font-weight: bold;
    margin: 12px auto;
    width: fit-content;
}

h2 {
    color: #A1BE95;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

p {
    margin: 24px auto;
    width: 80%;
}

img.dish {
    display: block;
    width: 600px;
    height: auto;
    margin: 24px auto;
    border-radius: 15px;
}

a {
    color: #E66A47;
}

a:visited {
    color: #C77B62;
}

h1.sitetitle {
    background-color: #A1Be95;
    color: white;
    padding: 12px 24px;
    border-radius: 24px;
    margin: 24px auto;
    width: 420px;
    text-align: center;
}

ul.recipes {
    border: 4px #A1BE95 dotted;
    border-radius: 4px;
    list-style-type: none;
    padding: 20px 24px;
    margin: 24px auto;
    width: 50%;
}

ul.recipes li {
    margin: 4px;
}

