/* * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} */

body {
    color: #444444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

h1 {
    /* color: #F98866; */
    color: #A1BE95;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    color: #A1BE95;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

img.dish {
    width: 600px;
    height: auto;
    border-radius: 15px;
}

a {
    color: #E66A47;
}

a:visited {
    color: #C77B62;
}

ul.recipes{
    border: 4px #A1BE95 dotted;
    border-radius: 4px;
    list-style-type: none;
    padding: 24px;
    margin: 40px;
    width: 50%;
}

